main {
    margin: 2rem 0.5rem;
    width: 20rem;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid white;
    letter-spacing: 5px;
}

.post-wrapper {
    border: 1px solid #383B53;
    margin-block: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-bottom: 0;
    background: rgba(0, 0, 0, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    display: flex;
    flex-direction: column;
}

.post-wrapper>div {
    padding-block: 0.5rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid white;
}

.post-author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-author a {
    font-weight: 700;
}

.post-date a {
    font-size: 0.5rem;
    font-weight: 200;
}

.post-text {
    color: #D4D6B9;
    padding-inline: 1rem 4rem
}

.post-stats ul {
    display: flex;
    gap: 1rem;
}

#user-avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0.5px solid #383B53;
}

.post-img {
    margin-left: auto;
    margin-right: auto;
}

#post-image {
    height: 20rem;
    max-width: 18rem;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.post-author:hover,
.post-date:hover,
.post-stats a:hover {
    color: #D4D6B9;
}

#post-image:hover {
    cursor: zoom-in;
}

#like-button:hover {
    color: #D4D6B9;
    cursor: pointer;
}

#heart-icon,
#comment-icon {
    height: 1rem;
}

@media (min-width: 600px) {
    main {
        margin: 2rem 4rem;
        width: 30rem;
    }

    #post-image {
        max-width: 20rem;
    }

    .post-date a {
        font-size: 0.75rem;
        font-weight: 200;
    }
}

@media (min-width: 1000px) {
    main {
        width: 50rem;
    }

}